// Initial Setup
$colors: (
    white: #FFFFFF,
    black: #0000,
    accent: #fafafa,
    dark: #545454,
    light: #8E8E8E,
    link: #0095F6,
);

$side-padding: 12px;
$border: 1px solid #DBDBDB;
$border_radius: 2px;
$max-width: 970px;

@function color($color-name) {
    @return map-get($colors, $color-name);
  }


* {
    box-sizing: border-box;
}


body{
    background-color: color(accent);
    font-family: sans-serif;
}


// Nav bar Starts here
header {
    background-color: color(white);
    border-bottom: $border;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: $side-padding;
    a {
        padding-left: $side-padding - 5px;
        color: black;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        font-family: 'SilkW01-ScriptAlternates', serif;
    }
    .item {
        flex: 1;
    }
    input {
        width: 200px;
        height: 28px;
        border: $border;
        border-radius: 3px;
        background-color: color(accent);
    }
    ul {
        padding-right: 10px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {

            padding-left: $side-padding;
            a {
                display: inline-block;
                color: black;
                i {
                    font-size: 23px;
                    font-weight: 1000;
                }
            }
            img {
                margin-left: 12px;
                width: 22px;
                border-radius: 50%;
            }
        }
    }
}
// Nav bar ends here

.top-container {
    max-width: $max-width;
    margin: auto;
    padding-top: 85px;
}

// Stories Starts here
.stories-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
}
.stories {
    background-color: color(white);
    border: $border;
    border-radius: $border_radius;
    width: 615px;
    height: 115px;  
    margin-left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    .story {
        margin-left: 16px;
        display: inline-block;
        text-align: center;
        .image {
            border: 1.5px solid red;
            border-radius: 50%;
            img {
                margin: 2px;
                vertical-align: middle;
                width: 60px;
                border-radius: 50%;
            }
        }
    }
}

// Stories Ends here





// Follow suggestions Starts here
.follow-pro-container {
    display: inline-block;
    margin-left: 35px;
    z-index: 1;
}
.follow-sugg-pro {
    width: 295px;
    display: inline-block;
    position: fixed;
    .profile {
        margin-left: 25px;
        margin-bottom: 25px;
        img {
            width: 60px;
            border-radius: 50%;
        }
        #pro-details {
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
            margin-left: 10px;
            
            p {
                margin: 0;
                line-height: 1.3;
                color: color(dark)
            }
            #pro-name {
                color: color(light)
            }
        }
    }
    .s-f-y {
        margin-left: 25px;
        margin-bottom: 15px;
    
        h4 {
            display: inline-block;
            font-weight: 600;
            color: color(light)
        }
    
        a {
            color: color(dark);
            display: inline-block;
            float: right;
            text-decoration: none;
            font-size: 13px;
        }
    }
    .name {
        display: grid;
        grid-template-columns: 1fr auto;
    
        .name-t-flo {
            margin-left: 25px;
            .fo-pro-img {
                display: inline-block;
                img {
                    width: 30px;
                    border-radius: 50%;
                    margin-right: 8px;
                }
            }
            .fo-content {
                display: inline-block;

                h4 {
                    color: color(dark);
                    margin-bottom: 5px;
                }
                p {
                    color: color(light);
                    font-size: 13px;
                    letter-spacing: .8px;
                    margin-bottom: 10px;
    
                }
            }
        }
    
        .url {
            align-self: center;
            a {
                text-decoration: none;
                color: color(link);
                display: inline-block;
                margin-bottom: 10px;
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
}
// Follow suggestions ends here


// Covid notify starts here!

.covid-notify-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    margin-top: 25px;
}
.covid-notify {
    // margin-top: 25px;
    // // max-width: 615px;
    // text-align: center;
    // padding: 20px 40px;
    // background: white;
    // border: 1px solid #e7e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: color(white);
    border: $border;
    border-radius: $border_radius;
    width: 615px;
    margin-left: 0;
    // display: flex;
    // align-items: center;
    text-align: center;
    // overflow: hidden;

    img {
        background: white;
        margin-bottom: 15px;
    }

    h4 {
        background: white;
        padding-bottom: 8px;
    }
    p {
        background: white;
        line-height: 1.2;
        color: grey;
        padding-left: 25px;
        padding-right: 25px;
    }
    a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        background: #0095f6;
        border-radius: 4px;
        display: inline-block;
        padding: 6px 125px 10px;
    }
}

// Covid notify ends here!

// Post card starts here
.post-card {
    display: inline-block;
    margin-top: 25px;
    // border: 1px solid red;
    
    .card {
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: color(white);
        border: $border;
        border-radius: $border_radius;
        max-width: 615px;

        .top {
            display: flex;  
            justify-content: space-between;
            padding-bottom: 14px;
            
            .left {
                margin-left: 15px;
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                a {
                    color: color(dark);
                    text-decoration: none;
                    vertical-align: super;
                }
            }
            .right {
                margin-right: 15px;
                display: flex;
                align-content: center;
                a {
                    color: color(dark);
                    text-decoration: none;
                    font-size: 2em;
                    margin-top: -10px;
                }
            }
        }
        .image {
            img {
                width: 100%;
            }
        }
        .react-icons {
            display: flex;
            margin-left: 15px;
            margin-top: 10px;
            justify-content: space-between;
            .left {
                a:first-child {
                    margin-left: 0;
                }
                a {
                    margin-left: 15px;
                    font-size: 26px;
                    color: black;
                }
            }
            .right {
                margin-right: 15px;
                font-size: 26px;
                a {
                    color: black;
                }
            }
        }

        .liked-by {
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            img {
                width: 20px;
                border-radius: 50%;
                margin-right: 2px;
            }
             p {
                 color: color(dark);
                 vertical-align: super;
                 display: inline-block;
                 font-size: 14px;
                 a {
                     text-decoration: none;
                     color: color(dark);
                     font-weight: 600;
                 }
             }
             #time {
                 margin-top: 8px;
                 margin-bottom: 8px;
                 display: block;
                 font-size: 11px;
                 color: color(dark)
             }
        }

        .comment-input {
            border-top: $border;
            padding-top: 20px;
            padding-bottom: 6px;
            display: flex;
            // justify-content: space-between;
            input {
                font-size: 14px;
                margin-left: 15px;
                border: none;
                flex: 1;
                margin-right: 5px;
            }
            a {
                margin-right: 15px;
                text-decoration: none;
                color: color(link)
            }

        }
        

    }
}
// Post card ends here


@media (max-width: 570px) {
    #search-input {
        display: none;
    }
}

@media (max-width: 965px) {
    .stories-container {
        display: flex;
        justify-content: center;
    }
    .covid-notify-container{
        display: flex;
        justify-content: center;
    }
    .follow-pro-container {
        display: none;
    }
    .post-card {
        display: flex;
        justify-content: center;
    }
}
